<template>
  <section>
    <sub-heading id="recent">
      <template v-if="sermons.length > 1">
        Recent Messages
      </template>
      <template v-else>
        Recent Message
      </template>
    </sub-heading>
    <sermon-panel
      v-for="s in sermons"
      :key="s.id"
      :value="s"
      class="sermon"
      :large="recentIds.includes(s.id)"
      recent
    />
    <div v-if="showAll">
      <hr>
      <p>
        Looking for a list of all our recorded messages in tabular form?
        We've got you covered!  See our
        <!-- eslint-disable-next-line vue/singleline-html-element-content-newline -->
        <g-link to="/all-sermons/">All Sermons page</g-link>.
      </p>
    </div>
    <div
      v-else
      class="link"
      @click="showAll = true"
    >
      See more…
    </div>
  </section>
</template>

<static-query>
query {
  latest: allSermon(sortBy: "date", order: DESC, limit: 6) {
    edges {
      node {
        id
        date
        path
        preacher {
          path
          title
        }
        text
        title
        series {
          title
          path
          image
          sermons: belongsTo(filter: { typeName: { eq: Sermon } }) {
            edges {
              node {
                ... on Sermon {
                  id
                }
              }
            }
          }
        }
        unregisteredPreacher
      }
    }
  }
}
</static-query>

<script>
import SermonPanel from '~/components/SermonPanel'
import SubHeading from '~/components/SubHeading'
import { Sermon } from '~/lib/data'
import { filterRecentSermons } from '~/lib/schedule'

export default {
  components: {
    SermonPanel,
    SubHeading
  },
  data () {
    return {
      showAll: false
    }
  },
  computed: {
    recentIds () {
      return filterRecentSermons(this.$static.latest)
        .map(s => s.id)
    },
    sermons () {
      return this.$static.latest.edges
        .map(e => new Sermon(e.node))
        .filter(s => this.showAll || this.recentIds.includes(s.id))
    }
  }
}
</script>

<style lang="scss" scoped>
.sermon {
  margin: var(--inline-margin) 0;
}
</style>
