<template>
  <search-bar
    v-model="results"
    :data="items"
    :limit="10"
    :action="select"
    placeholder="Search for a sermon"
    @update:selected="s => selected = s"
  >
    <div class="results">
      <g-link
        v-for="(s, i) in results"
        :key="`search-${s.id}`"
        class="result"
        :class="{selected: i === selected}"
        :to="s.path"
      >
        <div class="info">
          <div class="sermon">
            <p class="title">
              {{ s.title }}
            </p>
            <p>
              {{ s.text }}
            </p>
          </div>
          <div class="occassion">
            <p>
              {{ s.fullDate }}
            </p>
            <p>
              {{ s.preacherName }}
            </p>
          </div>
        </div>
        <div
          class="series"
        >
          <g-image
            v-if="s.series"
            :alt="s.series.title"
            :src="s.series.image"
          />
          <g-image
            v-else
            alt="Miscellaneous sermon"
            :src="$static.default.image"
          />
        </div>
      </g-link>
      <div
        v-if="paging"
        class="spinner"
      >
        <spinner />
      </div>
    </div>
  </search-bar>
</template>

<static-query>
query {
  default: srcImage(id: "banners/bible-table.jpg") {
    image
  }
}
</static-query>

<script>
import SearchBar from '~/components/SearchBar'
import Spinner from '~/components/Spinner'
import { Sermon } from '~/lib/data'
import pager from '~/mixins/pager'

export default {
  components: {
    SearchBar,
    Spinner
  },
  mixins: [
    pager
  ],
  data () {
    return {
      paging: true,
      results: [],
      selected: 0,
      sermons: []
    }
  },
  computed: {
    items () {
      return this.sermons.map(s => ({
        data: new Sermon(s),
        searchFields: ['title', 'text', 'dateId', 'fullDate', 'preacherName']
      }))
    }
  },
  async mounted () {
    await this.$pageAll('/data/sermons', this.sermons)
    this.paging = false
  },
  methods: {
    select (data) {
      this.$router.push(data.path)
    }
  }
}
</script>

<style lang="scss" scoped>
.results {
  box-shadow: 0 10px 10px var(--darkest-gray);
  background-color: var(--light-gray2);
}

.result {
  color: inherit;
  display: flex;

  &:hover {
    color: inherit;
    background-color: var(--lightest-gray);
  }

  &.selected {
    background-color: var(--lightest-gray);
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  width: 0;
  flex-grow: 1;
  padding: var(--half-inline-margin) var(--inline-margin);

  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sermon {
  margin-right: var(--inline-margin);
  width: 12rem;
  min-width: 12rem;
  flex-grow: 1;
  flex-basis: 0;

  .title {
    font-weight: bold;
  }
}

.occassion {
  width: 13rem;
  min-width: 13rem;
  flex-basis: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.series {
  float: right;
  width: 5rem;
  margin: var(--half-inline-margin) var(--inline-margin);

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.spinner {
  text-align: center;
}
</style>
