<template>
  <section>
    <sub-heading id="series">
      Sermon Series
    </sub-heading>
    <div class="full-width container">
      <div class="wrap-list series-list">
        <series-card
          v-for="s in series"
          :key="s.id"
          :series="s"
          :year="s.year"
          :count="s.count"
          class="series"
        />
        <tree-view
          v-if="debug"
          :data="series"
          :options="{rootObjectKey: 'series'}"
          class="debug"
        />
      </div>
    </div>
  </section>
</template>

<static-query>
query {
  series: allSermonSeries {
    edges {
      node {
        id
        image
        path
        title
        lastSermons: belongsTo(
          filter: { typeName: { eq: Sermon } }
          sortBy: "date"
          order: DESC
          limit: 1
        ) {
          edges {
            node {
              ... on Sermon {
                date
              }
            }
          }
        }
        allSermons: belongsTo(filter: { typeName: { eq: Sermon } }) {
          edges {
            node {
              ... on Sermon {
                id
              }
            }
          }
        }
      }
    }
  }
  latest: allSermon(sortBy: "date", order: DESC, limit: 1) {
    edges {
      node {
        date
      }
    }
  }
}
</static-query>

<script>
import { readLADate } from '~/lib/datetime'
import SeriesCard from '~/components/SeriesCard'
import SubHeading from '~/components/SubHeading'

export default {
  components: {
    SeriesCard,
    SubHeading
  },
  computed: {
    series () {
      const recentDate = this.$static.latest.edges[0].node.date
      return this.$static.series.edges
        .map(e => e.node)
        .map(n => Object.assign(n, { last: n.lastSermons.edges }))
        .filter(n => this.debug || n.last.length)
        .map(n => Object.assign(n, {
          lastDate: n.last.length
            ? n.last[0].node.date
            : new Date().toISOString()
        }))
        .filter(n => n.lastDate !== recentDate)
        .map(n => Object.assign(n, {
          url: n.path,
          year: readLADate(n.lastDate).getFullYear(),
          count: n.allSermons.edges.length
        }))
        // Sort from most recent to least recent.
        .sort((a, b) => b.lastDate.localeCompare(a.lastDate))
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  // This is needed because the negative margins trick we use in .wrap-list.
  overflow: hidden;
}

// TODO: Set a max width and ensure images are pre-processed for width.
.series-list {
  --flex-spacing: var(--double-inline-margin);

  justify-content: space-evenly;
  margin: 0 var(--inline-margin);
}

.debug {
  width: 100%;
}

.series {
  min-width: 20rem;
  height: 20rem;
}
</style>
