<template>
  <default
    :banner="$static.banner.image"
    :title="fmtDate($page.bulletin.date)"
    subtitle="Bulletin"
    invert-title
  >
    <section
      v-for="(s, i) in $page.bulletin.sections"
      :key="i"
    >
      <sub-heading
        v-if="s.catechism"
        id="catechism"
      >
        Baptist Catechism, Question #{{ s.catechism.id }}
      </sub-heading>
      <sub-heading
        v-else
        :id="s.type"
        nospell
      >
        {{ s.type }}
      </sub-heading>
    </section>
  </default>
</template>

<page-query>
query($id: ID!) {
  bulletin(id: $id) {
    date
    sections {
      id
      catechism
      type
      title
      passage
      preacher
    }
  }
}
</page-query>

<static-query>
query {
  banner: srcImage(id: "banners/open-book.jpg") {
    image
  }
}
</static-query>

<script>
import SubHeading from '~/components/SubHeading'
import { formatLADate, readLADate, dateFullFmt } from '~/lib/datetime'

export default {
  components: {
    SubHeading
  },
  methods: {
    fmtDate (d) {
      d = readLADate(d)
      return formatLADate(d, dateFullFmt)
    }
  }
}
</script>
