<template>
  <default
    :title="$page.markdownPage.title"
    :subtitle="$page.markdownPage.subtitle"
    :banner="$page.markdownPage.image"
    :bannerstyle="$page.markdownPage.bannerstyle"
    :nospell="$page.markdownPage.nospell"
  >
    <VueRemarkContent />
  </default>
</template>

<page-query>
query($id: ID!) {
  markdownPage(id: $id) {
    bannerstyle
    image
    title
    subtitle
    nospell
  }
}
</page-query>
