<template>
  <default
    :title="`Messages by ${preacher.title}`"
    :banner="$static.default.image"
  >
    <div
      v-for="s in sermons"
      :key="s.id"
      class="panel"
    >
      <sermon-panel :value="s" />
    </div>
    <div
      v-if="paging"
      class="spinner"
    >
      <spinner />
    </div>
  </default>
</template>

<page-query>
query($id: ID!) {
  preacher(id: $id) {
    id
    title
    sermons: belongsTo(
      filter: { typeName: { eq: Sermon } }
      sortBy: "date"
      order: DESC
      limit: 150
    ) {
      edges {
        node {
          ... on Sermon {
            date
            title
            text
            path
            series {
              title
              path
              image
            }
          }
        }
      }
    }
  }
}
</page-query>

<static-query>
query {
  default: srcImage(id: "banners/walk-bible.jpg") {
    image
  }
}
</static-query>

<script>
import SermonPanel from '~/components/SermonPanel'
import Spinner from '~/components/Spinner'
import { Preacher, Sermon } from '~/lib/data'
import pager from '~/mixins/pager'

export default {
  components: {
    SermonPanel,
    Spinner
  },
  mixins: [
    pager
  ],
  data () {
    return {
      paging: true,
      sermons_: []
    }
  },
  computed: {
    preacher () {
      return new Preacher(this.$page.preacher)
    },
    sermons () {
      return this.sermons_.map(s => new Sermon(s))
    }
  },
  created () {
    this.$page.preacher.sermons.edges.forEach(e => {
      this.sermons_.push(new Sermon(e.node))
    })
  },
  async mounted () {
    const path = `/data/sermons-by-preacher/${this.preacher.id}`
    await this.$pageAll(path, this.sermons_, 2, 150)
    this.paging = false
  }
}
</script>

<style lang="scss">
.panel {
  margin: var(--inline-margin) 0;
}

.spinner {
  text-align: center;
}
</style>
