<template>
  <default
    :title="$page.sermonSeries.title"
    :subtitle="$page.sermonSeries.text"
    :banner="$page.sermonSeries.image"
    :bannerstyle="$page.sermonSeries.bannerstyle"
  >
    <!-- eslint-disable vue/no-v-html -->
    <div v-html="$page.sermonSeries.content" />
    <!-- eslint-enable vue/no-v-html -->
    <sermon-panel
      v-for="s in sermons"
      :key="s.id"
      class="panel"
      :value="s"
    />
  </default>
</template>

<page-query>
query($path: String!) {
  sermonSeries(path: $path) {
    content
    bannerstyle
    image
    text
    title
    sermons: belongsTo(
      filter: { typeName: { eq: Sermon } }
      sortBy: "date"
      order: ASC
    ) {
      edges {
        node {
          ... on Sermon {
            date
            id
            path
            preacher {
              path
              title
            }
            text
            title
            unregisteredPreacher
          }
        }
      }
    }
  }
}
</page-query>

<script>
import SermonPanel from '~/components/SermonPanel'
import { Sermon } from '~/lib/data'

export default {
  components: {
    SermonPanel
  },
  computed: {
    sermons () {
      return this.$page.sermonSeries.sermons.edges
        .map(e => new Sermon(e.node))
    }
  }
}
</script>

<style lang="scss" scoped>
.panel {
  margin: var(--inline-margin) 0;
}
</style>
