Form: {{url}}
Submitted by: {{name}} ({{email}})

<table style="white-space: normal">
  {{#each fields}}
  <tr>
    <td style="max-width: 25rem; vertical-align: top">{{this.label}}</td>
    <td style="max-width: 50rem; vertical-align: top">{{this.value}}</td>
  </tr>
  {{/each}}
</table>
