<template>
  <div class="container no-heading">
    <div>
      <h1>404</h1>
      <p>
        <span class="script">
          Woe is me!<br>
          For I am lost.
        </span><br>
        <span class="citation">Isaiah 6:5</span>
      </p>
      <p>
        <g-link
          to="/"
          class="button"
        >
          come back home
        </g-link><br>
        <g-link to="/">
          <span class="icon">home</span>
        </g-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo () {
    return {
      title: '404'
    }
  }
}
</script>

<style scoped>
.container {
  --message-size: var(--title-font-size);

  display: grid;
  place-items: center center;
}

div {
  text-align: center;
}

p {
  margin: 2.5rem 2rem;
}

a {
  margin: auto;
}

.script {
  font-family: var(--title-font-family);
  font-size: var(--message-size);
}

.citation {
  font-family: var(--title-font-family);
  font-size: calc(0.5 * var(--message-size));
}

.icon {
  font-family: var(--icon-font-family);
  font-size: var(--large-font-size);
}

@media only screen and (min-width: 60rem) { /* --tablet-width */
  .container {
    --message-size: var(--super-large-font-size);
  }
}
</style>
