<template>
  <default
    title="Articles"
    :banner="$static.banner.image"
  >
    <p class="feed">
      <a href="/articles.atom">
        <img
          alt="RSS/Atom logo"
          :src="logos.rss"
        >
      </a>
    </p>
    <p
      v-for="e in $static.allArticle.edges"
      :key="e.node.id"
      :set="a = e.node"
    >
      <g-link
        v-if="debug || a.isPast"
        :to="a.path"
        :class="{future: !a.isPast}"
      >
        {{ a.prettyDate }} — {{ a.title }}
      </g-link>
    </p>
    <tree-view
      v-if="debug"
      :data="$static.allArticle.edges.map(e => e.node)"
      :options="{rootObjectKey: 'articles'}"
    />
  </default>
</template>

<static-query>
query {
  allArticle(sortBy: "id") {
    edges {
      node {
        title
        path
        date
      }
    }
  }
  banner: srcImage(id: "banners/open-book.jpg") {
    image
  }
}
</static-query>

<script>
import rss from 'super-tiny-icons/images/svg/rss.svg'

import { formatLADate, readLADate, dateFullFmt } from '~/lib/datetime'

export default {
  data () {
    return {
      logos: {
        rss
      }
    }
  },
  created () {
    const now = new Date()
    this.$static.allArticle.edges
      .forEach(e => {
        const d = readLADate(e.node.date)
        Object.assign(e.node, {
          prettyDate: formatLADate(d, dateFullFmt),
          isPast: d < now
        })
      })
  },
  metaInfo: {
    link: [
      {
        rel: 'alternate',
        type: 'application/atom+xml',
        href: '/articles.atom'
      }
    ]
  }
}
</script>

<style lang="scss" scoped>
.feed {
  text-align: right;

  img {
    width: 1.5rem;
  }
}

.future {
  opacity: 0.5;
}
</style>
