<template>
  <main>
    <banner />
    <covid-19 />
    <basic-info />
    <messages />
    <purpose />
    <announcements />
    <konami />
  </main>
</template>

<script>
import Announcements from '~/layouts/home/Announcements'
import Banner from '~/layouts/home/Banner'
import BasicInfo from '~/layouts/home/BasicInfo'
import Covid19 from '~/layouts/home/Covid19'
import Konami from '~/layouts/home/Konami'
import Messages from '~/layouts/home/Messages'
import Purpose from '~/layouts/home/Purpose'

export default {
  components: {
    Announcements,
    Banner,
    BasicInfo,
    Covid19,
    Konami,
    Messages,
    Purpose
  },
  metaInfo () {
    return {
      title: 'Silicon Valley Reformed Baptist Church'
    }
  }
}
</script>

<style scoped>
main {
  margin-bottom: var(--content-margin);
}
</style>
