<template>
  <default title="Weekly Live Stream">
    <template v-if="featLive">
      <div
        v-if="!live"
        class="subtitle"
      >
        <template v-if="soon">
          We'll be broadcasting live
          <template v-if="minutes === null">
            soon!
          </template>
          <template v-else-if="minutes < 1">
            any moment!
          </template>
          <template v-else-if="minutes === 1">
            in 1 minute!
          </template>
          <template v-else>
            in {{ minutes }} minutes!
          </template>
        </template>
        <template v-else>
          We're not live right now, but you can catch us Sundays at
          11:00<span class="meridiem">am</span>.
        </template>
      </div>
    </template>
    <div
      v-else
      class="subtitle"
    >
      Sundays at 11:00<span class="meridiem">am</span>.
    </div>
    <div class="theater">
      <iframe
        src="https://www.youtube.com/embed/live_stream?channel=UC_C4Ho75qx256qiGnrEuIDg"
        frameborder="0"
        allow="encrypted-media"
        allowfullscreen
      />
    </div>
    <tree-view
      v-if="debug"
      :data="liveres"
      :options="{rootObjectKey: '/.netlify/functions/youtubelive'}"
    />
  </default>
</template>

<script>
import delay from 'delay'
import youtube from '~/lib/youtube'

import { minutesFromNow } from '~/lib/datetime'
import { sermonSoon } from '~/lib/schedule'

export default {
  data () {
    return {
      liveres: {},
      minutes: null,
      scheduledSoon: false
    }
  },
  computed: {
    live () {
      return this.liveres.started
    },
    soon () {
      return this.liveres.scheduledStart || this.scheduledSoon
    }
  },
  mounted () {
    youtube.pollLiveOrSoon('load', resp => { this.liveres = resp })
    this.pollMinutes()
  },
  methods: {
    async pollMinutes () {
      while (true) {
        this.scheduledSoon = sermonSoon()
        if (this.liveres.scheduledStart) {
          this.minutes = minutesFromNow(this.liveres.scheduledStart)
        } else {
          this.minutes = null
        }
        await delay(3000)
      }
    }
  }
}
</script>

<style lang="scss">
html {
  overflow-x: hidden;
}
</style>

<style lang="scss" scoped>
main {
  margin: var(--content-margin) 0;
}

::v-deep h1 {
  text-align: center;
}

.subtitle {
  display: block;
  text-align: center;
  font-size: var(--subheading-font-size);
  margin-bottom: 2rem;
}
</style>
