<template>
  <validated-form
    :action="add"
    :validate="validate"
  >
    <form-input :data="$v.email">
      <label :for="add-email">Email</label>
      <input
        :id="add-email"
        v-model.trim="email"
        type="text"
        name="email"
      >
      <template #failure>
        <div
          v-if="!$v.email.required"
          class="input-warning-message"
        >
          email is required
        </div>
        <div
          v-if="!$v.email.email"
          class="input-warning-message"
        >
          This must be a valid email address.
        </div>
      </template>
    </form-input>
    <template #error>
      <span v-if="error">
        {{ error }}
      </span>
      <span v-else>Please fix hilighted fields</span>
    </template>
    <template #success>
      <slot name="success">
        Member added!
      </slot>
    </template>
  </validated-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

import FormInput from '~/components/FormInput.vue'
import ValidatedForm from '~/components/ValidatedForm.vue'
import members from '~/lib/members'

export default {
  components: {
    FormInput,
    ValidatedForm
  },
  mixins: [
    validationMixin
  ],
  data () {
    return {
      email: '',
      error: null
    }
  },
  methods: {
    async add () {
      const resp = await members.add(this.email)
      this.error = resp.error
      if (resp.status !== 200) return false

      this.email = ''
      this.$v.$reset()
    },
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    }
  },
  validations: {
    email: {
      required,
      email
    }
  }
}
</script>
