<template>
  <mail-form
    :validate="validate"
    to="conley@svrbc.org"
    template="rides"
    :data="mailData"
  >
    <form-input :data="$v.phone">
      <label>Phone number</label>
      <input
        v-model.trim="phone"
        type="text"
        name="phone"
      >
    </form-input>
    <form-input
      v-show="$v.phone.$model"
      :data="$v.sms"
    >
      <label>Is it OK to text you at this number?</label>
      <input
        type="checkbox"
        name="sms"
        checked
      >
    </form-input>
    <form-input :data="$v.address">
      <label>Pickup address</label>
      <input
        v-model="address"
        type="text"
        name="address"
      >
      <template #failure>
        <div
          v-if="!$v.address.required"
          class="input-warning-message"
        >
          Please let us know where to pick you up.
        </div>
      </template>
    </form-input>
    <form-input :data="$v.event">
      <label>Event</label>
      <select
        v-model="event"
        name="event"
      >
        <option value="">
          Choose an event
        </option>
        <option value="sunday">
          Sunday worship
        </option>
        <option value="tuesday">
          Tuesday women's book study
        </option>
        <option value="wednesday">
          Wednesday bible study and prayer
        </option>
        <option value="other">
          Other
        </option>
      </select>
      <template #failure>
        <div
          v-if="!$v.event.required"
          class="input-warning-message"
        >
          Please choose an event.
        </div>
      </template>
    </form-input>
    <form-input
      v-show="$v.event.$model==='sunday'"
      :data="$v.sundayArrive"
      class="input-group-left"
    >
      <label>Arrive before</label>
      <select
        v-model="sundayArrive"
        name="sundayArrive"
      >
        <option
          value="1"
          selected
        >
          Sunday School (9:30 AM)
        </option>
        <option value="2">
          Morning Worship (11:00 AM)
        </option>
        <option value="3">
          Lunch (12:30 PM)
        </option>
        <option value="4">
          Afternoon Worship (2:00 PM)
        </option>
      </select>
    </form-input>
    <form-input
      v-show="$v.event.$model==='sunday'"
      :data="$v.sundayDepart"
      class="input-group-right"
    >
      <label>Depart after</label>
      <select
        v-model="sundayDepart"
        name="sundayDepart"
      >
        <option value="1">
          Sunday School (10:30 AM)
        </option>
        <option value="2">
          Morning Worship (12:30 AM)
        </option>
        <option value="3">
          Lunch (1:30 PM)
        </option>
        <option
          value="4"
          selected
        >
          Afternoon Worship (3:00 PM)
        </option>
      </select>
    </form-input>
    <form-input
      v-show="$v.event.$model==='other'"
      :data="$v.otherEvent"
    >
      <input
        type="text"
        name="otherEvent"
        placeholder="Ex: Memorial day picnic"
      >
      <div
        v-if="!$v.otherEvent.required"
        class="input-warning-message"
      >
        Please tell us which event you would like to attend.
      </div>
    </form-input>
    <form-input
      :data="$v.notes"
      class="clear"
    >
      <label>Pickup notes</label>
      <textarea name="notes" />
    </form-input>
  </mail-form>
</template>

<script>
import { parsePhoneNumberFromString } from 'libphonenumber-js'
import { validationMixin } from 'vuelidate'
import { required, requiredIf } from 'vuelidate/lib/validators'

import FormInput from '~/components/FormInput'
import MailForm from '~/components/MailForm'

export default {
  components: {
    FormInput,
    MailForm
  },
  mixins: [
    validationMixin
  ],
  data () {
    return {
      address: '',
      event: '',
      notes: '',
      otherEvent: '',
      phone: '',
      sms: false,
      sundayArrive: 1,
      sundayDepart: 4
    }
  },
  computed: {
    mailData () {
      return {
        address: this.address,
        event: this.event,
        notes: this.notes,
        otherEvent: this.otherEvent,
        phone: this.phone,
        sms: this.sms,
        sundayArrive: this.sundayArrive,
        sundayDepart: this.sundayDepart
      }
    }
  },
  watch: {
    '$v.phone.$model': function () {
      const pn = parsePhoneNumberFromString(this.$v.phone.$model, 'US')
      if (!pn) return
      this.$v.phone.$model = pn.formatNational()
    },
    '$v.sundayArrive.$model': function () {
      if (this.$v.sundayArrive.$model <= this.$v.sundayDepart.$model) return
      this.$v.sundayDepart.$model = this.$v.sundayArrive.$model
    },
    '$v.sundayDepart.$model': function () {
      if (this.$v.sundayArrive.$model <= this.$v.sundayDepart.$model) return
      this.$v.sundayArrive.$model = this.$v.sundayDepart.$model
    }
  },
  methods: {
    compose (values) {
      return {
        subject: `${values.name} would like a ride to church!`,
        body: `Name: ${values.name}
Phone number: ${values.phone}
Day: ${values.day}
Notes: ${values.notes}
`
      }
    },
    validate (subValues) {
      this.$v.$touch()
      return !this.$v.$invalid
    }
  },
  validations: {
    address: {
      required
    },
    event: {
      required
    },
    notes: {},
    otherEvent: {
      required: requiredIf(function () {
        return this.$v.event.$model === 'other'
      })
    },
    phone: {
      phone (value) {
        if (value === '' || value === null) return true
        const pn = parsePhoneNumberFromString(value, 'US')
        return !!pn && pn.isValid()
      }
    },
    sms: {},
    sundayArrive: {},
    sundayDepart: {}
  }
}
</script>

<style scoped>
@media only screen and (min-width: 38rem) {
  .input-group-left,
  .input-group-right {
    float: left;
    width: 16rem;
    margin-top: 0;
  }

  .input-group-left {
    padding-right: 0.5rem;
  }

  .input-group-right {
    padding-left: 0.5rem;
  }
}
</style>
