<template>
  <client-only>
    <tree-view
      :data="{page: $page}"
      :options="{rootObjectKey: '$page'}"
    />
  </client-only>
</template>

<page-query>
query($id: ID!, $page: Int) {
  obj: preacher(id: $id) {
    page: belongsTo(
      filter: { typeName: { eq: Sermon } }
      sortBy: "date"
      order: DESC
      perPage: 150
      page: $page
    ) @paginate {
      pageInfo {
        totalPages
        currentPage
      }
      edges {
        node {
          ... on Sermon {
            date
            title
            text
            path
            series {
              title
              path
              image
            }
          }
        }
      }
    }
  }
}
</page-query>
