<template>
  <client-only>
    <tree-view
      :data="{page: $page}"
      :options="{rootObjectKey: '$page'}"
    />
  </client-only>
</template>

<page-query>
query($page: Int) {
  page: allSermon(sortBy: "date", order: DESC, perPage: 250, page: $page)
    @paginate {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        date
        path
        preacher {
          title
        }
        text
        title
        series {
          image(width: 250)
          title
        }
        unregisteredPreacher
      }
    }
  }
}
</page-query>
