<template>
  <fieldset id="id">
    <div class="wrap-list">
      <div>
        <label :for="`${id}-street`"><slot /></label>
        <input
          :id="`${id}-street`"
          v-model.trim="street"
          type="text"
          name="address"
        >
      </div>
      <div class="city">
        <label :for="`${id}-zip`">City</label>
        <input
          :id="`${id}-city`"
          v-model.trim="city"
          type="text"
          name="city"
        >
      </div>
      <div class="state">
        <label :for="`${id}-zip`">State</label>
        <input
          :id="`${id}-state`"
          v-model.trim="state"
          type="text"
          name="state"
        >
      </div>
      <div class="zip">
        <label :for="`${id}-zip`">Zip Code</label>
        <input
          :id="`${id}-zip`"
          v-model.trim="zip"
          type="text"
          name="zip"
        >
      </div>
    </div>
  </fieldset>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default () {
        return ''
      }
    },
    value: {
      type: Object,
      default () {
        return {
          street: '',
          city: '',
          state: '',
          zip: ''
        }
      }
    }
  },
  computed: {
    street: {
      get () {
        return this.value ? this.value.street : ''
      },
      set (value) {
        this.update({ street: value })
      }
    },
    city: {
      get () {
        return this.value ? this.value.city : ''
      },
      set (value) {
        this.update({ city: value })
      }
    },
    state: {
      get () {
        return this.value ? this.value.state : ''
      },
      set (value) {
        this.update({ state: value })
      }
    },
    zip: {
      get () {
        return this.value ? this.value.zip : ''
      },
      set (value) {
        this.update({ zip: value })
      }
    }
  },
  methods: {
    update: function (opts) {
      const value = Object.assign({}, this.value, opts)
      this.$emit('input', value)
    }
  }
}

function isAddress (value) {
  if (!value) return true
  const { street, city, state, zip } = value
  if (!street && !city && !state && !zip) return true
  if (!street || !city || !state || !zip) return false
  return true
}

export {
  isAddress
}
</script>

<style lang="scss" scoped>
.wrap-list {
  --flex-spacing: var(--inline-margin);
  --flex-width: var(--input-width);
}

.city {
  width: 10rem;
}

.state {
  width: 3rem;
  flex-grow: 0;
}

.zip {
  width: 4.5rem;
  flex-grow: 0;
}
</style>
