<template>
  <div class="container clearfix">
    <div
      class="play icon"
      @click="togglePlay"
    >
      <span v-if="state === 'playing'">
        pause
      </span>
      <span v-else-if="state === 'paused'">
        play_arrow
      </span>
    </div>
    <div
      class="speed"
      @click="changeSpeed"
    >
      {{ speed }}x
    </div>
    <div>
      {{ currentTime }}
    </div>
    <div class="waveform">
      <!-- We nest this because wavesurfer doesn't handle padding, etc.
        well.
      -->
      <div ref="waveform" />
    </div>
    <div class="duration">
      {{ duration }}
    </div>
  </div>
</template>

<script>
import waveform from '~/lib/waveform'

function formatTime (t) {
  const secs = parseInt(t)
  const s = secs % 60
  const m = parseInt(secs / 60) % 60
  const h = parseInt(secs / (60 * 60))
  const ps = String(s).padStart(2, 0)
  const pm = String(m).padStart(2, 0)
  const ph = String(h).padStart(2, 0)
  return h ? `${ph}:${pm}:${ps}` : `${pm}:${ps}`
}

const speeds = [
  0.75,
  1,
  1.25,
  1.5,
  2,
  2.5,
  3
]

export default {
  props: {
    // Use this for speech audio where real waves would generally not be
    // helpful.
    fakewaves: {
      type: Boolean,
      default () {
        return false
      }
    },
    src: {
      type: String,
      default () {
        return ''
      }
    }
  },
  data () {
    return {
      wavesurfer: null,
      speed: 1,
      state: 'loading',
      duration: formatTime(0),
      currentTime: formatTime(0)
    }
  },
  watch: {
    speed (s) {
      this.wavesurfer.setPlaybackRate(s)
    },
    src () {
      this.wavesurfer.destroy()
      this.state = 'loading'
      this.duration = formatTime(0)
      this.currentTime = formatTime(0)
      this.createWavesurfer()
      this.speed = 1
    }
  },
  mounted () {
    this.createWavesurfer()
  },
  destroyed () {
    this.wavesurfer.destroy()
  },
  methods: {
    createWavesurfer () {
      this.wavesurfer = waveform
        .createWavesurfer(this.src, this.$refs.waveform, {
          callback: this.updateState,
          fakewaves: this.fakewaves
        })
    },
    updateState () {
      this.state = this.wavesurfer.isPlaying() ? 'playing' : 'paused'
      this.duration = formatTime(this.wavesurfer.getDuration())
      this.currentTime = formatTime(this.wavesurfer.getCurrentTime())
    },
    togglePlay () {
      if (this.state === 'loading') return
      this.wavesurfer.playPause()
    },
    changeSpeed () {
      const i = (speeds.indexOf(this.speed) + 1) % speeds.length
      this.speed = speeds[i]
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  height: 3rem;
  line-height: 3rem;
  background-color: var(--light-gray2);
  border-radius: var(--big-border-radius);

  > * {
    padding-right: var(--half-inline-margin);
  }
}

.play {
  cursor: pointer;
  font-size: 2.5rem;
  width: 2.5rem;
}

.speed {
  width: 2.5rem;
  cursor: pointer;
  user-select: none;
}

.waveform {
  // Wavesurfer uses z-indexes, so in order to keep the waveform and cursor
  // from appearing over the header and sidebar, we need to set an explicit
  // z-index with a relative position.
  position: relative;
  z-index: 0;
  padding: var(--half-inline-margin);
  flex-grow: 1;
  box-sizing: border-box;

  > div {
    width: 100%;
    height: 100%;
  }
}
</style>
