<template>
  <mail-form
    :to="to"
    :validate="validate"
    template="plain"
    :data="{message, path: $route.path.replace(/\/$/, '')}"
    :on-complete="complete"
  >
    <slot />
    <form-input :data="$v.message">
      <label for="`${id}-message`">Message</label>
      <textarea
        v-model.trim="message"
        name="message"
      />
      <template #failure>
        <div v-if="!$v.message.required">
          message is required
        </div>
      </template>
    </form-input>
    <template #success>
      Thanks for your message!  We'll get back to you soon!
    </template>
  </mail-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

import FormInput from '~/components/FormInput'
import MailForm from '~/components/MailForm'
import persistMixin from '~/mixins/persist'

export default {
  components: {
    FormInput,
    MailForm
  },
  mixins: [
    persistMixin,
    validationMixin
  ],
  props: {
    id: {
      type: String,
      default: ''
    },
    to: {
      type: String,
      default: ''
    },
    subject: {
      type: String,
      default: ''
    },
    persistKey: {
      type: String,
      default () {
        return undefined
      }
    },
    onComplete: {
      type: Function,
      default () {
        return () => null
      }
    }
  },
  data () {
    return {
      message: ''
    }
  },
  mounted () {
    this.persist(this.persistKey, 'message')
  },
  methods: {
    complete () {
      this.message = ''
      this.$v.$reset()
      this.onComplete()
    },
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    }
  },
  validations: {
    message: {
      required
    }
  }
}
</script>
