<template>
  <span
    v-clipboard:copy="link"
    v-clipboard:success="copyNotify"
    class="icon"
    @click.stop
  >link</span>
</template>

<script>
import CopyNotify from '~/mixins/copy-notify'

export default {
  mixins: [
    CopyNotify
  ],
  props: {
    id: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      origin: ''
    }
  },
  computed: {
    link () {
      return this.origin + this.$route.path + (this.id ? `#${this.id}` : '')
    }
  },
  mounted () {
    this.origin = window.location.origin
  }
}
</script>

<style lang="scss" scoped>
.icon {
  visibility: hidden;
  cursor: pointer;
  margin-left: 0.3rem;
  line-height: 0;
}

.icon:hover {
  color: var(--dark-gray);
}

h1,
h2,
h3,
h4 {
  &:hover .icon {
    visibility: visible;
  }
}
</style>
