<template>
  <validated-form
    :action="send"
    :validate="validateSelf"
    notify-recaptcha
  >
    <form-input :data="$v.name">
      <label :for="`${id}`-name">Name</label>
      <input
        :id="`${id}-name`"
        v-model.trim="name"
        type="text"
        name="name"
      >
    </form-input>
    <form-input :data="$v.email">
      <label :for="`${id}`-email">Email</label>
      <input
        :id="`${id}-email`"
        v-model.trim="email"
        type="text"
        name="email"
      >
      <template #failure>
        <div
          v-if="!$v.email.required"
          class="input-warning-message"
        >
          email is required
        </div>
        <div
          v-if="!$v.email.email"
          class="input-warning-message"
        >
          This must be a valid email address.
        </div>
      </template>
    </form-input>

    <slot />

    <tree-view
      v-if="debug && debugInfo"
      :data-obj="JSON.stringify(debugInfo)"
      :data="debugInfo"
      :options="{rootObjectKey: 'response'}"
      class="mail-debug"
    />

    <template #error>
      <span v-if="httpStatus === 404">
        Mail function not found ({{ errorMessage }}).
        Please email <a :href="`mailto:${to}`">{{ to }}</a> directly.
      </span>
      <span v-else-if="httpStatus === 422">
        Error processing form ({{ errorMessage }}).
        Please email <a :href="`mailto:${to}`">{{ to }}</a> directly.
      </span>
      <span v-else-if="httpStatus === 429">
        Could not send mail at this time.
        Try again later or email <a :href="`mailto:${to}`">{{ to }}</a>
        directly.
      </span>
      <span v-else-if="httpStatus === 500 && errorCode === 'MAILGUN'">
        Error sending mail through transport ({{ errorMessage }}).
        Please email <a :href="`mailto:${to}`">{{ to }}</a> directly.
      </span>
      <span v-else-if="httpStatus === 500">
        Error sending mail ({{ errorMessage }}).  Please email
        Please email <a :href="`mailto:${to}`">{{ to }}</a> directly.
      </span>
      <span v-else>Please fix hilighted fields</span>
    </template>
    <template #success>
      <slot name="success">
        Success!
      </slot>
    </template>
  </validated-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

import FormInput from '~/components/FormInput.vue'
import ValidatedForm from '~/components/ValidatedForm.vue'
import mail from '~/lib/mail'
import persistMixin from '~/mixins/persist'

export default {
  components: {
    FormInput,
    ValidatedForm
  },
  mixins: [
    validationMixin,
    persistMixin
  ],
  props: {
    id: {
      type: String,
      default: ''
    },
    to: {
      type: String,
      default () {
        return 'info'
      }
    },
    template: {
      type: String,
      default () {
        return 'plain'
      }
    },
    data: {
      type: Object,
      default () {
        return null
      }
    },
    onComplete: {
      type: Function,
      default () {
        return () => null
      }
    },
    validate: {
      type: Function,
      default () {
        return () => true
      }
    }
  },
  data () {
    return {
      debugInfo: null,
      name: '',
      email: '',
      httpStatus: 0,
      errorCode: undefined,
      errorMessage: undefined
    }
  },
  mounted () {
    this.persist('mail', 'name', 'email')
  },
  methods: {
    async send () {
      // TODO: Move this to its own library
      let to
      if (typeof this.to === 'string') {
        to = [this.to]
      } else {
        to = this.to
      }

      const resp = await mail({
        from: {
          name: this.name,
          address: this.email
        },
        to,
        template: this.template,
        data: Object.assign({}, this.data, {
          name: this.name,
          email: this.email
        }),
        test: this.debug
      })
      this.onComplete()

      this.debugInfo = resp
      this.httpStatus = resp.status
      this.errorCode = resp.code
      this.errorMessage = resp.error
      return this.httpStatus === 200
    },
    validateSelf () {
      this.$v.$touch()
      const childOK = this.validate()
      return !this.$v.$invalid && childOK
    }
  },
  validations: {
    email: {
      required,
      email
    },
    name: {}
  }
}
</script>
