<template>
  <g-link :to="to">
    <div class="nav-text">
      <slot />
    </div>
  </g-link>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      dead: true,
      show: false
    }
  }
}
</script>

<style scoped>
a {
  display: block;
  text-decoration: none;
  color: var(--darkest-gray);
  text-transform: uppercase;
  transition: background 0.25s, border 0.25s;
}

a.active {
  cursor: default;
}

a.active,
a:hover {
  background-color: var(--nav-selected-color);
}
</style>
