<template>
  <div class="wrap-list container">
    <div class="month">
      <label :for="`${id}-month`">Month</label>
      <input
        :id="`${id}-month`"
        v-model="month"
        type="text"
      >
    </div>
    <div class="day">
      <label :for="`${id}-day`">Day</label>
      <input
        :id="`${id}-day`"
        v-model="day"
        type="text"
      >
    </div>
    <div class="year">
      <label :for="`${id}-year`">Year</label>
      <input
        :id="`${id}-year`"
        v-model="year"
        type="text"
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default () {
        return ''
      }
    },
    value: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    year: {
      get () {
        return this.value ? this.value.year : ''
      },
      set (value) {
        this.update({ year: value })
      }
    },
    month: {
      get () {
        return this.value ? this.value.month : ''
      },
      set (value) {
        this.update({ month: value })
      }
    },
    day: {
      get () {
        return this.value ? this.value.day : ''
      },
      set (value) {
        this.update({ day: value })
      }
    }
  },
  watch: {
    value ({ date }) {
      if (typeof date === 'string') this.update({})
    }
  },
  methods: {
    update: function (opts) {
      const value = Object.assign({}, this.value, opts)
      const { year, month, day } = value
      // Handle two-digit years.
      let y = parseInt(year)
      const curYear = new Date().getFullYear()
      const year2 = curYear % 100
      const century = curYear - year2
      if (y <= year2) y += century
      else if (y < 100) y += century - 100

      value.date = new Date(y, parseInt(month) - 1, parseInt(day))

      this.$emit('input', value)
    }
  }
}

function isDate (value) {
  return !value || !isNaN(value.date) ||
    (!value.year && !value.month && !value.day)
}

export {
  isDate
}
</script>

<style lang="scss" scoped>
.container {
  --flex-spacing: var(--inline-margin);
  --flex-width: var(--input-width);
}

.day,
.month {
  width: 2.5rem;
}

.year {
  width: 5rem;
  flex-grow: 2;
}
</style>
