<template>
  <span
    class="container"
  >
    {{ prefix }}<!--
    --><span
      ref="ref"
      class="ref"
    >
      <slot ref="slot" />
    </span><!--
    -->{{ suffix }}
    <div ref="passage">
      <div
        v-if="error"
        class="error"
      >
        {{ error.message }}
      </div>
      <spinner v-else-if="!passages" />
      <EsvPassage
        v-else
        :passages="passages"
      />
    </div>
  </span>
</template>

<script>
import EsvPassage from '~/components/EsvPassage'
import Spinner from '~/components/Spinner'
import esv from '~/lib/esv'
import tips from '~/lib/tips'

export default {
  components: {
    EsvPassage,
    Spinner
  },
  data () {
    return {
      passages: null,
      error: null,
      triggered: false,
      prefix: '',
      suffix: ''
    }
  },
  mounted () {
    const refNode = this.$refs.ref
    const ref = refNode.innerText.trim()
    const match = ref.match(/^([(])?(.*?)([)])?$/)
    if (!match) {
      console.error(`Could not parse passage ref: ${ref}`)
      return
    }
    this.prefix = match[1]
    refNode.innerText = match[2]
    this.suffix = match[3]

    tips.hover(refNode, this.$refs.passage, {
      // This delay is important so that we don't fire a request every time the
      // user mouses over a passage reference with no intent to display.
      delay: 100,
      onShown: () => this.load()
    })
  },
  methods: {
    async load () {
      if (this.passages || this.triggered) return
      this.triggered = true
      const resp = await esv.query(this.$refs.ref.innerText, 'hover')
      if (resp.status !== 200) {
        this.error = {
          code: resp.status,
          message: resp.error
        }
        return
      }
      this.passages = resp.passages
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  // We don't want references to break across lines, but in addition, this
  // helps tippy display correctly since a div will be placed inside the
  // span.
  display: inline-block;
  width: auto;
}

.error {
  color: var(--error-stroke-color);
}

::v-deep h2 {
  // This keeps the popup tighter around the edges.
  margin-top: 0.5rem;
}
</style>
