<template>
  <div
    class="container wrap-list"
    :class="{large}"
  >
    <div class="sermon">
      <p>
        <g-link
          :to="value.path"
          class="title"
          nospell
        >
          {{ value.title }}
        </g-link>
      </p>
      <p class="text">
        {{ value.text }}
      </p>
      <p class="date">
        {{ recent ? value.monthDay : value.fullDate }}
      </p>
      <p
        v-if="value.preacherName"
        class="preacher"
      >
        <preacher-link :sermon="value" />
      </p>
    </div>
    <series-card
      v-if="value.series"
      class="series"
      :series="value.series"
      :count="value.seriesCount"
    />
  </div>
</template>

<script>
import PreacherLink from '~/components/PreacherLink'
import SeriesCard from '~/components/SeriesCard'

export default {
  components: {
    PreacherLink,
    SeriesCard
  },
  props: {
    large: {
      // This should be an instance of type data.Sermon.
      type: Boolean,
      default () {
        return false
      }
    },
    value: {
      // This should be an instance of type data.Sermon.
      type: Object,
      default () {
        return {}
      }
    },
    recent: {
      type: Boolean,
      default () {
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  --flex-spacing: var(--inline-margin);

  // Unset the negative margin from wrap-list, since we actually want
  // visible padding.
  margin: 0;
  padding: var(--half-inline-margin);
  background-color: var(--secondary-color-light);

  > * {
    flex-basis: 0;
  }

  .sermon {
    min-width: 15rem;

    .title {
      display: block;
      font-size: var(--large-font-size);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      margin: 0;
    }
  }

  .series {
    width: 20rem;
    min-width: 20rem;
    height: 8rem;
  }
}

.container.large {
  .series {
    height: 20rem;
  }
}
</style>
