<template>
  <select
    v-model="sex"
    name="sex"
  >
    <option value="">
      --
    </option>
    <option value="male">
      Male
    </option>
    <option value="female">
      Female
    </option>
  </select>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default () {
        return ''
      }
    }
  },
  computed: {
    sex: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>
