<template>
  <div>
    <div
      v-if="head"
      class="qhead"
    >
      <!-- eslint-disable-next-line vue/singleline-html-element-content-newline -->
      <template v-if="obj.question">#</template>{{ obj.id }}
      <span
        v-clipboard:copy="copytext"
        v-clipboard:success="copyNotify"
        class="copytext icon"
      >
        content_copy
      </span>
      <g-link
        v-if="link && !link.match(/#/)"
        :to="link"
      >
        Study
      </g-link>
    </div>
    <div
      v-else
      class="althead"
    >
      <span
        v-clipboard:copy="copytext"
        v-clipboard:success="copyNotify"
        class="copytext icon"
      >
        content_copy
      </span>
    </div>
    <table class="qqa">
      <tbody>
        <tr v-if="obj.question">
          <th>Question</th>
          <td nospell>
            {{ obj.question }}
          </td>
        </tr>
        <tr>
          <th v-if="obj.question">
            Answer
          </th>
          <td>
            <span
              v-for="({text, verses, note}, i) in obj.segments"
              :key="`mark-${i}`"
            >
              <span v-if="i">&#32;&#32;</span>
              <span nospell>{{ text }}</span>&NoBreak;<sup v-if="verses">{{ i + 1 }}</sup>&NoBreak;<sup v-if="note">*</sup>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <prooftext
      v-for="({verses}, i) in obj.segments.filter(s => s.verses)"
      :key="i"
      :verses="verses"
      :index="i + 1"
    />
    <div
      v-for="({note}, i) in obj.segments.filter(s => s.note)"
      :key="i"
    >
      <span>*</span>
      {{ note }}
    </div>
  </div>
</template>

<static-query>
query App {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
import superscript from 'superscript-number'

import Prooftext from '~/components/Prooftext'
import CopyNotify from '~/mixins/copy-notify'

export default {
  components: {
    Prooftext
  },
  mixins: [
    CopyNotify
  ],
  props: {
    docname: {
      type: String,
      default () {
        return ''
      }
    },
    head: {
      type: Boolean,
      default () {
        return false
      }
    },
    link: {
      type: String,
      default () {
        return ''
      }
    },
    obj: {
      type: Object,
      default () {
        return null
      }
    }
  },
  computed: {
    copytext () {
      const prefix = this.obj.question ? 'Question #' : ''
      return [
        `${this.docname}, ${prefix}${this.obj.id}`,
        this.obj.question ? this.obj.question : '',
        this.obj.segments
          .map(({ text, verses }, i) => [
            text,
            '\u2060',
            verses ? superscript(i + 1) : '',
            '\u2060'
          ]
            .join(''))
          .join(' '),
        ...this.obj.segments
          .filter(s => s.verses)
          .map((s, i) => `${superscript(i + 1)} ${s.verses}`),
        new URL(this.link, this.$static.metadata.siteUrl).href
      ]
        .filter(l => !!l)
        .join('\n')
    }
  }
}
</script>

<style lang="scss" scoped>
.copytext {
  cursor: pointer;
  margin-left: 1rem;
}

.qhead {
  font-weight: bold;

  a {
    float: right;
  }

  .copytext {
    color: var(--light-gray);
  }
}

.althead {
  text-align: right;
}

.qqa {
  margin-bottom: calc(1.5 * var(--inline-margin));

  th {
    font-weight: bold;
    padding-right: var(--inline-margin);
    text-align: left;
  }

  th,
  td {
    vertical-align: top;
  }
}
</style>
