<template>
  <div class="navigation">
    <div class="prev">
      <vibrate-link
        v-if="prev"
        :to="`${root}${prev}/`"
      >
        <span class="icon">navigate_before</span>
        <span>{{ prev }}</span>
      </vibrate-link>
    </div>
    <div class="all">
      <g-link
        :to="root"
      >
        <span class="icon">keyboard_arrow_up</span>
        <br>
        <span>{{ allText }}</span>
      </g-link>
    </div>
    <div class="next">
      <vibrate-link
        v-if="next"
        :to="`${root}${next}/`"
      >
        <span>{{ next }}</span>
        <span class="icon">navigate_next</span>
      </vibrate-link>
    </div>
  </div>
</template>

<script>
import VibrateLink from '~/components/VibrateLink'

export default {
  components: {
    VibrateLink
  },
  props: {
    prev: {
      type: [String, Number],
      default () {
        return null
      }
    },
    next: {
      type: [String, Number],
      default () {
        return null
      }
    },
    allText: {
      type: String,
      default () {
        return 'all'
      }
    }
  },
  computed: {
    root () {
      return this.$route.matched[0].path.replace(/:id/, '')
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  display: flex;
  font-size: var(--big-font-size);
  line-height: var(--half-line-height);
  margin-bottom: var(--inline-margin);
  padding-bottom: var(--double-inline-margin);
  border-bottom: 1px solid var(--darkest-gray);

  > * {
    flex-grow: 1;
    flex-basis: 0;
    margin-top: auto;
  }

  .icon {
    display: inline-block;
    width: 1.5rem;
    text-align: center;
  }

  .prev {
    text-align: left;
  }

  .all {
    text-align: center;
  }

  .next {
    text-align: right;
  }
}
</style>
