<template>
  <component
    :is="`h${depth}`"
    :id="id"
    :class="{hidden}"
    @click="toggle"
  >
    <span
      v-if="expandable"
      class="icon expander-icon"
    >
      expand_less
    </span>
    <slot />
    <HeadingLink :id="id" />
  </component>
</template>

<script>
import HeadingLink from '~/components/HeadingLink'

export default {
  components: {
    HeadingLink
  },
  props: {
    id: {
      type: String,
      default: ''
    },
    depth: {
      type: Number,
      default: 2
    },
    expandable: {
      type: Boolean,
      default: false
    },
    expanded: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      stateExpanded: this.expanded
    }
  },
  computed: {
    cExpandable () {
      return this.expandable || this.expanded
    },
    hidden () {
      return this.cExpandable && !this.stateExpanded
    }
  },
  mounted () {
    if (this.$route.hash === `#${this.id}`) this.stateExpanded = true
  },
  methods: {
    toggle () {
      this.stateExpanded = !this.stateExpanded
    }
  }
}
</script>

<style lang="scss" scoped>
.hidden::v-deep ~ * {
  display: none;
}

.expander-icon {
  transition: transform var(--snappy-speed);
  display: inline-block;

  .hidden & {
    transform: rotate(180deg);
  }
}
</style>
