<template>
  <blockquote class="testimonial content-float clearfix">
    <div class="content-narrow slotted-image">
      <slot name="image" />
    </div>
    <p><slot /></p>
    <p class="citation">
      {{ name }}
    </p>
  </blockquote>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default () {
        return ''
      }
    }
  }
}
</script>

<style>
.testimonial:nth-of-type(odd) .slotted-image {
  float: left;
  margin-right: var(--inline-margin);
}

.testimonial:nth-of-type(even) .slotted-image {
  float: right;
  margin-left: var(--inline-margin);
}
</style>

<style scoped>
.testimonial {
  margin: 1rem 0;
}

.testimonial .slotted-image {
  margin-top: 0;
  margin-bottom: 0;
}

.slotted-image img {
  width: 100%;
}
</style>
