<template>
  <div
    v-show="open"
    class="container dark"
  >
    <div class="content">
      <slot />
    </div>
    <div
      class="icon close"
      @click="open = false"
    >
      close
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      open: true
    }
  }
}
</script>

<style lang="scss" scoped>
.close {
  cursor: pointer;
  font-size: var(--subheading-font-size);
  line-height: 1.2;
}

.container {
  display: flex;
  padding: 0 var(--half-inline-margin);
  background-color: var(--secondary-color-dark);
  overflow: hidden;
  border-top: 1px solid var(--light-gray);
  // By setting the position relative and moving everything up a pixel, we
  // keep the top UrgentAnnouncement from displaying its border.
  // Since the component may be made invisible by its parent, using a
  // pseudo-selector to set the border conditionally would be much more
  // fragile.
  position: relative;
  top: -1px;
  font-size: var(--large-font-size);
}

.content {
  flex-grow: 1;

  ::v-deep p {
    margin: var(--half-inline-margin) 0;
  }
}
</style>
