<template>
  <div
    :class="{start: !loaded}"
    class="banner"
  >
    <p class="problem">
      <span class="px p0 ps">In a world of…</span>&#32;
      <span class="px p1 ps">hurt,</span>&#32;
      <span class="px p2 pl">depression,</span>&#32;
      <span class="px p3 pl">confusion,</span>&#32;
      <span class="px p4 ps">ignorance,</span>&#32;
      <span class="px p5 pl">lonliness,</span>&#32;
      <span class="px p6 ps">fear,</span>&#32;
      <span class="px p7 ps">animosity,</span>&#32;
      <span class="px p8 pm">bitterness,</span>&#32;
      <span class="px p9 pl">hopelessness,</span>&#32;
      <span class="px p10 ps">anger,</span>&#32;
      <span class="px p11 pm">insecurity,</span>&#32;
      <span class="px p12 pm">death,</span>&#32;
      <span class="px p13 pl">anxiety,</span>&#32;
      <span class="px p14 pm">deception,</span>&#32;
      <span class="px p15">dissatisfaction…</span>
    </p>
    <p class="discover">
      Discover
    </p>
    <div class="solution3">
      <div class="solution2">
        <p class="solution">
          the solution
        </p>
      </div>
    </div>
    <p class="slogan">
      a deeper knowledge of Christ
    </p>
    <g-link
      to="/motto/"
      class="learn button"
    >
      learn more
    </g-link>
  </div>
</template>

<static-query>
query {
  banner: srcImage(id: "assets/homepage-banner.jpg") {
    image
  }
}
</static-query>

<script>
import client from '~/mixins/client.js'

export default {
  mixins: [
    client // Needed for `loaded`.
  ],
  metaInfo () {
    return {
      meta: [
        {
          name: 'og:image',
          content: this.$static.banner.image.src
        }
      ]
    }
  }
}
</script>

<style scoped>
.banner {
  --all-word-speed: 3s;
  --word-speed: calc(var(--all-word-speed) / 15);
  --delay0-1: var(--present-speed);
  --delay2-1: calc(2 * var(--present-speed) + var(--all-word-speed));
  --delay2-2: calc(3 * var(--present-speed) + var(--all-word-speed));
  --delay2-3: calc(4 * var(--present-speed) + var(--all-word-speed));
  --delay2-4: calc(5 * var(--present-speed) + var(--all-word-speed));
  --delay2-5: calc(6 * var(--present-speed) + var(--all-word-speed));
  --delay2-6: calc(7 * var(--present-speed) + var(--all-word-speed));
  --small-fs: 4vw;
  --big-fs: 7vw;

  height: 40rem;
  background-image: url("~@/assets/homepage-banner.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.banner p {
  margin: 0;
}

.problem {
  padding: 2em 1em 0 1em;
  text-align: center;
  font-size: var(--small-fs);
  line-height: 1.2;
  opacity: 0;
  transition: opacity var(--present-speed);
  transition-delay: var(--delay2-5);
  color: var(--dark-gray);
}

.px {
  transition: opacity var(--present-speed);
}

.p0 { transition-delay: 0; }
.p1 { transition-delay: calc(var(--delay0-1) + 1 * var(--word-speed)); }
.p2 { transition-delay: calc(var(--delay0-1) + 2 * var(--word-speed)); }
.p3 { transition-delay: calc(var(--delay0-1) + 3 * var(--word-speed)); }
.p4 { transition-delay: calc(var(--delay0-1) + 4 * var(--word-speed)); }
.p5 { transition-delay: calc(var(--delay0-1) + 5 * var(--word-speed)); }
.p6 { transition-delay: calc(var(--delay0-1) + 6 * var(--word-speed)); }
.p7 { transition-delay: calc(var(--delay0-1) + 7 * var(--word-speed)); }
.p8 { transition-delay: calc(var(--delay0-1) + 8 * var(--word-speed)); }
.p9 { transition-delay: calc(var(--delay0-1) + 9 * var(--word-speed)); }
.p10 { transition-delay: calc(var(--delay0-1) + 10 * var(--word-speed)); }
.p11 { transition-delay: calc(var(--delay0-1) + 11 * var(--word-speed)); }
.p12 { transition-delay: calc(var(--delay0-1) + 12 * var(--word-speed)); }
.p13 { transition-delay: calc(var(--delay0-1) + 13 * var(--word-speed)); }
.p14 { transition-delay: calc(var(--delay0-1) + 14 * var(--word-speed)); }
.p15 { transition-delay: calc(var(--delay0-1) + 15 * var(--word-speed)); }

.ps { font-size: var(--small-fs); }
.pm { font-size: calc(1.2 * var(--small-fs)); }
.pl { font-size: calc(1.4 * var(--small-fs)); }

.discover {
  padding-top: 1em;
  text-align: center;
  font-size: var(--small-fs);
  font-style: italic;
  color: var(--dark-gray);
  transition: opacity var(--present-speed);
  transition-delay: var(--delay2-1);
}

.solution {
  text-align: center;
  font-size: var(--big-fs);
  transition: opacity var(--present-speed), padding-top var(--present-speed);
  transition-delay: var(--delay2-2);
}

.solution2 {
  transition: opacity var(--present-speed);
  transition-delay: var(--delay2-3);
}

.solution3 {
  max-height: 0;
  transition: max-height 0s;
  transition-delay: var(--delay2-4);
}

.slogan {
  text-align: center;
  padding: 0 1em;
  font-size: var(--big-fs);
  transition: opacity var(--present-speed), padding-top var(--present-speed);
  transition-delay: var(--delay2-4);
}

.learn {
  float: right;
  margin: 2em 4em;
  transition: opacity var(--present-speed);
  transition-delay: var(--delay2-5);
}

.banner.start .px,
.banner.start .discover,
.banner.start .solution,
.solution2,
.banner.start .slogan,
.banner.start .learn {
  opacity: 0;
}

.banner.start .problem,
.banner.start .solution2 {
  opacity: 1;
}

.banner.start .solution {
  padding-top: 6rem;
}

.banner.start .solution3 {
  max-height: 100rem;
}

.banner.start .slogan {
  padding-top: 6rem;
}

@media only screen and (min-width: 40rem) { /* wmobile */
  .banner {
    --small-fs: 2.5vw;
    --big-fs: 5vw;
  }
}

@media only screen and (min-width: 90rem) { /* wdesktop */
  .banner {
    --small-fs: var(--subheading-font-size);
    --big-fs: var(--extra-large-font-size);
  }
}
</style>
