<template>
  <div class="home-info">
    <div class="time">
      <div class="time-list scrimmed">
        <div class="sunday">
          <div class="day">
            Sunday
          </div>
          <div>
            <span class="time-point">9:30
              <span class="meridiem">am</span>
            </span>
            Sunday School for all ages
          </div>
          <div>
            <span class="time-point">11:00
              <span class="meridiem">am</span>
            </span>
            Morning worship
          </div>
          <div>
            <span class="time-point">12:30
              <span class="meridiem">pm</span>
            </span>
            Fellowship lunch
          </div>
          <div>
            <span class="time-point">2:00
              <span class="meridiem">pm</span>
            </span>
            Afternoon worship
          </div>
        </div>
        <div class="weekdays">
          <div class="day">
            Wednesday
          </div>
          <div>
            <span class="time-point">7:00
              <span class="meridiem">pm</span>
            </span>
            Prayer meeting
          </div>
        </div>
      </div>
    </div>
    <div class="place">
      <div class="address scrimmed">
        <div>709 Lakewood Dr.</div>
        <div>Sunnyvale, CA 94089</div>
        <a
          href="https://www.google.com/maps/dir//709+Lakewood+Dr,+Sunnyvale,+CA+94089"
          target="_blank"
          rel="noreferrer"
          class="directions"
        >Get directions</a>
      </div>
    </div>
  </div>
</template>

<style scoped>
>>> {
  --info-min-width: 20rem;
  --info-height: 17rem;
  --info-min-width: 20rem;
  --info-sep: 1rem;
}

.home-info {
  display: flex;
  flex-wrap: wrap;
}

.time,
.place {
  min-width: calc(var(--info-min-width) + var(--content-margin));
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
  flex-basis: 0;
  height: var(--info-height);
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.time {
  background-image: url("building.jpg");
}

.place {
  background-image: url("map.jpg");
}

.time-list {
  float: right;
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  padding: calc(var(--info-sep) / 2);
}

.time-list > div {
  margin: calc(var(--info-sep) / 2);
  width: fit-content;
}

.sunday {
  min-width: 17rem;
}

.weekdays {
  min-width: 12rem;
}

.day {
  font-weight: bold;
}

.time-point {
  display: inline-block;
  width: 4rem;
}

.address {
  width: fit-content;
  padding: 1rem;
}
</style>
