<template>
  <div class="covid19">
    <p v-if="!featLive">
      <g-link to="/live/">
        Watch the service live here.
      </g-link>
    </p>
  </div>
</template>

<static-query>
query {
  announcements: allUrgentAnnouncement {
    edges {
      node {
        id
        content
      }
    }
  }
}
</static-query>

<style lang="scss" scoped>
.covid19 {
  padding: var(--inline-margin);
  font-size: var(--large-font-size);
  background:
    repeating-linear-gradient(
      135deg,
      #fff,
      #fff 3px,
      #eee 3px,
      #eee 6px
    );
}
</style>
