<template>
  <div
    v-konami
    @konami="show = true"
  >
    <iframe
      v-if="show"
      class="konami"
      frameborder="no"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/99400138&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    />
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: false
    }
  }
}
</script>

<style scoped>
>>> {
  position: sticky;
  bottom: 0;
}

iframe {
  display: block;
  width: 100%;
  margin-top: 2rem;
}
</style>
