<template>
  <scrollama
    :offset=".8"
    :order="false"
    :once="true"
    @step-enter="stepEnter"
  >
    <div class="purpose-general enter">
      <div class="purpose-container">
        <div class="main-narrow">
          <div class="purpose">
            <p class="purpose-header">
              Our purpose
            </p>

            <p>
              SVRBC exists with the sole aim of glorifying God through the
              proclamation of the good news of Jesus Christ in our area and the
              world.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="purpose-particular enter clearfix">
      <div class="purpose-container">
        <div class="main-narrow">
          <div class="purpose">
            <p class="purpose-header">
              Our distinctives
            </p>

            <p>
              We believe God has especially equipped us to build up his kingdom
              through our Reformed Baptist heritage.  In an age where many have
              forgotten the lessons of the past, we hope to stand on the
              shoulders of giants, especially cherishing those insights forged
              in the trials of the Protestant Reformation.
            </p>

            <p>
              While we trust the Bible as our sole infallible authority, our
              historical roots are a gift from God that provide a particular
              depth of understanding.  Hence, our motto: <i>A deeper knowledge
                of Christ</i>.  If you desire to know him better, we would love
              for you to join us!
            </p>

            <p>
              <g-link to="/beliefs/">
                Learn more.
              </g-link>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="purpose-fire clearfix dark enter">
      <div class="main-narrow">
        <a
          href="https://www.firefellowship.org/"
          rel="noopener"
          target="_blank"
          class="no-ext-warn"
        >
          <g-image
            src="~/layouts/home/fire-logo.jpg"
            alt="Fire logo"
          />
        </a>
        <table>
          <tr>
            <td>
              SVRBC is a member of the Fellowship of Independent Reformed
              Evangelicals
              (<a
                href="https://www.firefellowship.org/"
                rel="noopener"
                target="_blank"
              >FIRE</a>).
            </td>
          </tr>
        </table>
      </div>
    </div>
  </scrollama>
</template>

<script>
import Scrollama from 'vue-scrollama'

export default {
  components: {
    Scrollama
  },
  methods: {
    stepEnter ({ element }) {
      element.classList.remove('enter')
    }
  }
}
</script>

<style scoped>
>>> {
  --razor-height: 4rem;
  --fly-distance: 15rem;
}

.purpose-container {
  overflow: hidden;
}

.purpose {
  max-width: 35rem;
  position: relative;
  left: 0;
  transition: opacity var(--present-speed), left var(--present-speed) ease;
}

.purpose-general {
  padding-bottom: var(--razor-height);
  overflow: hidden;
}

.purpose-particular {
  position: relative;
  background-color: var(--lightest-gray);
}

.purpose-particular::before {
  display: block;
  position: absolute;
  left: -100vw;
  top: calc(-1 * var(--razor-height));
  width: 100%;
  content: '';
  border-style: solid;
  border-width: 0 100vw var(--razor-height) 0;
  border-color: transparent transparent var(--lightest-gray) transparent;
}

.purpose-particular .purpose {
  float: right;
}

.purpose-header {
  font-weight: bold;
  font-size: var(--large-font-size);
  font-family: var(--title-font-family);
}

.enter.purpose-particular .purpose {
  opacity: 0;
  left: calc(-1 * var(--fly-distance));
}

.enter.purpose-general .purpose {
  opacity: 0;
  left: var(--fly-distance);
}

.purpose-fire {
  padding: 2rem 0;
  background-color: var(--dark-gray);
  text-align: center;
}

.purpose-fire table {
  min-height: 6.5rem;
}

.purpose-fire .main-narrow {
  transition: opacity var(--present-speed);
}

.purpose-fire.enter .main-narrow {
  opacity: 0;
}

.purpose-fire img {
  float: right;
  margin-left: 1rem;
  max-height: 6.5rem;
  max-width: 6.5rem;
  transition: transform var(--present-speed);
}

.purpose-fire.enter img {
  transform: scale(0.7);
}
</style>
