<template>
  <footer>
    <g-image
      class="footer-logo"
      src="/logo-white.svg"
      alt="Silicon Valley Reformed Baptist Church logo"
      blur="100"
      width="400"
    />
    <div class="footer-info">
      <div class="footer-info-contact">
        <div class="footer-home-icon icon">
          home
        </div>
        <div>
          709 Lakewood Drive<br>
          Sunnyvale, CA 94089
        </div>
        <div class="icon">
          phone
        </div>
        <div>408-734-2297</div>
        <div class="icon">
          email
        </div>
        <div><a href="mailto:info@svrbc.org">info@svrbc.org</a></div>
      </div>
      <div class="links">
        <g-link to="/contact/">
          Contact
        </g-link>
        <a
          class="giving"
          href="#givingflow&fund=General+Church+Fund&interval=Every+1st+and+15th"
        >
          Giving
        </a>
        <g-link to="/membership/">
          Membership
        </g-link>
        <g-link to="/copyright/">
          Copyright
        </g-link>
      </div>
      <div class="links">
        <g-link to="/articles/">
          Articles
        </g-link>
        <g-link to="/counseling/">
          Counseling
        </g-link>
        <g-link to="/workdays/">
          Workdays
        </g-link>
        <g-link to="/members-meetings/">
          Members’ Meetings
        </g-link>
      </div>
    </div>
  </footer>
</template>

<style scoped lang="scss">
footer {
  border-top: var(--structure-border-width) solid var(--darkest-gray);
  padding-bottom: var(--content-margin);
  overflow: hidden;
}

.footer-logo {
  width: 20rem;
  height: 8.345rem;
  transition: opacity var(--snappy-speed);

  &.g-image--loading {
    opacity: 0;
  }
}

.footer-info {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex-grow: 1;
    margin-bottom: 1rem;
  }
}

.footer-info-contact {
  min-width: 13rem;

  .icon {
    float: left;
    width: 1.5rem;
  }
}

.footer-home-icon {
  height: calc(1.5 * var(--normal-line-height-abs));
}

.links {
  min-width: 6rem;

  a {
    display: block;
  }
}

/* .giving-loading will be enabled while we are loading the giving script. */
.giving-loading .giving {
  display: none;
}

@media only screen and (min-width: 40rem) { /* --wmobile-width */
  .footer-logo {
    padding-top: 0.5rem;
    float: right;
  }

  .footer-info {
    margin-top: 1rem;
    width: calc(100% - 21rem);
  }
}

@media only screen and (min-width: 60rem) { /* --tablet-width */
  .info-grid {
    grid-template-columns: 1rem 10rem 2rem 1rem 10rem;
  }
}
</style>
