<template>
  <header :class="{v1}">
    <div class="main-narrow">
      <span
        class="icon"
        @click="$emit('input', true)"
      >menu</span>
      <g-link
        ref="home"
        class="home"
        to="/"
        exact
      >
        SVRBC
      </g-link>
      <main-nav />
    </div>
  </header>
</template>

<script>
import MainNav from '~/layouts/main/Nav'
import Debug from '~/mixins/debug'

export default {
  components: {
    MainNav
  },
  mixins: [
    Debug
  ],
  props: {
    // If this is true, the sidebar should be expanded.
    value: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  mounted () {
    const home = this.$refs.home.$el
    home.style.setProperty('--header-heightpx', home.offsetHeight)
  }
}
</script>

<style lang="scss" scoped>
header {
  --nav-selected-color: var(--light-gray);

  position: sticky;
  top: 0;
  z-index: 2;
  line-height: var(--header-height);
  height: var(--header-height);
  transition: border-color var(--snappy-speed);
  background-color: var(--default-background);
}

.main-narrow {
  height: 100%;
  border-bottom: var(--structure-border-width) solid var(--darkest-gray);
}

.icon {
  cursor: pointer;
  font-size: var(--header-height);
}

.icon:hover {
  color: var(--dark-gray);
}

nav {
  display: none;
  font-size: var(--normal-font-size);
  padding-right: 2rem;
}

::v-deep .nav-text {
  padding: 0 1rem;
}

.home {
  // Typically, me might want to use the title font, but Palanquin doesn't look
  // as good here.
  font-family: var(--normal-font-family);
  font-size: calc(0.75 * var(--header-height));
  font-weight: 100;
  color: var(--darkest-gray);
  float: right;
  transition: opacity var(--snappy-speed);
  // --scroll-y is our scroll position and determines how opaque we are.
  // --main-top is the offset of the header from the top of the document.
  //   We need to be at least this far before beginning to transition.
  // --header-heightpx is the height of the header.  We want to have the header
  //   competely visible before we begin to transition.
  // 200 pixels to transition from 0 to 1.
  opacity: calc((var(--scroll-y) - var(--main-top) - var(--header-heightpx)) / 200);
  height: 100%;
  overflow: hidden;
}

.title-font-loading .home {
  opacity: 0;
}

.home.active {
  cursor: default;
}

@media only screen and (min-width: 53rem) { /* min width necessary for header */
  .icon {
    display: none;
  }

  nav {
    display: flex;
  }
}

/* v1-specific style */
.v1 .icon {
  display: inline-block;
}

.v1 nav {
  display: none;
}

/* v1 */
@media only screen and (min-width: 77rem) { /* min width necessary for header */
  .v1 .icon {
    display: none;
  }

  .v1 nav {
    display: flex;
  }
}
</style>
