<template>
  <urgent-announcement v-show="live || soon || debug">
    <g-link
      v-if="live || soon"
      to="/live/"
    >
      <template v-if="live">
        We're broadcasting live!
      </template>
      <template v-else>
        We'll be broadcasting live
        <template v-if="minutes === null">
          soon!
        </template>
        <template v-else-if="minutes < 1">
          any moment!
        </template>
        <template v-else-if="minutes === 1">
          in 1 minute!
        </template>
        <template v-else>
          in {{ minutes }} minutes!
        </template>
      </template>
    </g-link>
    <tree-view
      v-if="debug"
      :data="liveres"
      :options="{rootObjectKey: 'liveres'}"
    />
  </urgent-announcement>
</template>

<script>
import delay from 'delay'
import youtube from '~/lib/youtube'

import UrgentAnnouncement from '~/components/UrgentAnnouncement.vue'
import { minutesFromNow } from '~/lib/datetime'
import { sermonSoon } from '~/lib/schedule'

export default {
  components: {
    UrgentAnnouncement
  },
  data () {
    return {
      liveres: {},
      minutes: null,
      scheduledSoon: false
    }
  },
  computed: {
    live () {
      return this.liveres.started
    },
    soon () {
      return this.liveres.scheduledStart || this.scheduledSoon
    }
  },
  mounted () {
    youtube.pollLiveOrSoon('load', resp => { this.liveres = resp })
    this.pollMinutes()
  },
  methods: {
    async pollMinutes () {
      while (true) {
        this.scheduledSoon = sermonSoon()
        if (this.liveres.scheduledStart) {
          this.minutes = minutesFromNow(this.liveres.scheduledStart)
        } else {
          this.minutes = null
        }
        await delay(3000)
      }
    }
  }
}
</script>
