<template>
  <!--
    If this list gets updated, the min-width values need to be updated in
    Header.vue to match.
  -->
  <nav>
    <nav-link to="/beliefs/">
      Beliefs
    </nav-link>
    <nav-link to="/leadership/">
      Leadership
    </nav-link>
    <nav-link
      v-if="v1"
      to="/events/"
    >
      Events
    </nav-link>
    <nav-link to="/sermons/">
      Sermons
    </nav-link>
    <nav-link
      v-if="v1"
      to="/learning/"
    >
      Learning opportunities
    </nav-link>
    <nav-link to="/groups/">
      Groups
    </nav-link>
    <nav-link to="/ministries/">
      Ministries
    </nav-link>
    <nav-link
      v-if="v1"
      to="/partnerships/"
    >
      Partnerships
    </nav-link>
  </nav>
</template>

<script>
import NavLink from '~/components/NavLink'
import Debug from '~/mixins/debug'

export default {
  components: {
    NavLink
  },
  mixins: [
    Debug
  ]
}
</script>
