<template>
  <!-- To add an announcement here, add a .md file to src/urgent -->
  <div class="urgent-announcements">
    <urgent-announcement
      v-for="(a, i) in announcements"
      :key="i"
    >
      <!-- eslint-disable vue/no-v-html -->
      <div v-html="a.content" />
      <!-- eslint-enable vue/no-v-html -->
    </urgent-announcement>
    <live-urgent-announcement />
    <sunday-urgent-announcement />
  </div>
</template>

<static-query>
query {
  announcements: allUrgentAnnouncement(filter: { id: { ne: "dummy" } }) {
    edges {
      node {
        content
      }
    }
  }
}
</static-query>

<script>
import LiveUrgentAnnouncement from '~/layouts/main/LiveUrgentAnnouncement.vue'
import SundayUrgentAnnouncement from '~/layouts/main/SundayUrgentAnnouncement.vue'
import UrgentAnnouncement from '~/components/UrgentAnnouncement.vue'

export default {
  components: {
    LiveUrgentAnnouncement,
    SundayUrgentAnnouncement,
    UrgentAnnouncement
  },
  computed: {
    announcements () {
      return this.$static.announcements.edges
        .map(e => e.node)
    }
  }
}
</script>
