<template>
  <div>
    <address-input
      :id="id"
      v-model="model"
    >
      {{ template.label }}
    </address-input>
  </div>
</template>

<script>
import AddressInput, { isAddress } from '~/components/AddressInput.vue'
import dataform from '~/mixins/dataform'

export default {
  components: {
    AddressInput
  },
  mixins: [
    dataform
  ],
  defaultdata: {},
  validations: {
    isAddress
  },
  messages: {
    isDate: 'This must be a valid date.'
  },
  transform (value) {
    if (!value) return ''
    const { street, city, state, zip } = value
    if (!street && !city && !state && !zip) return ''
    return `${street}, ${city}, ${state} ${zip}`
  }
}
</script>
