<template>
  <div>
    <input
      :id="id"
      v-model="model"
      type="checkbox"
    >
    <label :for="id">
      <slot
        v-if="template.slotlabel"
        :name="`${template.key}-label`"
      />
      <template v-else>
        {{ template.label }}
      </template>
    </label>
  </div>
</template>

<script>
import dataform from '~/mixins/dataform'

export default {
  mixins: [
    dataform
  ],
  defaultdata: ''
}
</script>

<style lang="scss" scoped>
label {
  margin: 0;
  display: block;
  width: calc(100% - var(--double-inline-margin));
  padding-left: var(--double-inline-margin);
}
</style>
