<template>
  <div>
    <label :for="id">{{ template.label }}</label>
    <datepicker
      :id="id"
      v-model="model"
    />
  </div>
</template>

<script>
import Datepicker from '~/components/Datepicker.vue'
import { formatLADate, longMonthWeekdayFmt } from '~/lib/datetime'
import dataform from '~/mixins/dataform'

export default {
  components: {
    Datepicker
  },
  mixins: [
    dataform
  ],
  defaultdata: null,
  transform (value) {
    if (value) return formatLADate(value, longMonthWeekdayFmt)
    return ''
  },
  persistType: Date
}
</script>
