<template>
  <div :class="{'wrap-list': template.oneline}">
    <label :for="id">{{ template.label }}</label>
    <form-input-help v-if="template.help">
      {{ template.help }}
    </form-input-help>
    <input
      :id="id"
      v-model="model"
      type="number"
      :min="template.min"
    >
  </div>
</template>

<script>
import dataform from '~/mixins/dataform'

export default {
  mixins: [
    dataform
  ],
  defaultdata: ''
}
</script>

<style lang="scss" scoped>
.wrap-list {
  --flex-spacing: var(--inline-margin);
  --flex-width: var(--input-width);

  label {
    padding-left: 0.3rem;
    width: 10rem;
    flex-grow: 0;
  }

  input {
    width: 1rem;
  }
}
</style>
