<template>
  <sub-heading :id="template.id">
    {{ template.text }}
  </sub-heading>
</template>

<script>
import SubHeading from '~/components/SubHeading.vue'
import dataform from '~/mixins/dataform'

export default {
  components: {
    SubHeading
  },
  mixins: [
    dataform
  ],
  nodata: true
}
</script>
