<template>
  <main-page :class="[{'giving-loading': !givingReady}, ...fonts]">
    <div
      :class="{'router-active': active}"
      :style="{height}"
    >
      <transition
        name="page"
        mode="out-in"
        @leave="leave"
        @enter="enter"
        @afterEnter="afterEnter"
      >
        <router-view :key="routeKey" />
      </transition>
    </div>
  </main-page>
</template>

<static-query>
query App {
  metadata {
    siteDescription
  }
}
</static-query>

<script>
import delay from 'delay'

import MainPage from '~/layouts/main/Page.vue'
import { routeKey } from '~/lib/routeutil'
import scans from '~/lib/scans'
import Timer from '~/lib/timer'

const rebelGiveId = '42b7a4095133fb739278'

const fontTypes = [
  'icon',
  'normal',
  'title'
]

const slugFont = f => `${f}-font-loading`

export default {
  components: {
    MainPage
  },
  metaInfo () {
    return {
      title: this.$static.metadata.siteName,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$static.metadata.siteDescription
        },
        {
          name: 'theme-color',
          content: '#ece8e7'
        },
        {
          name: 'geo.region',
          content: 'US-CA'
        },
        {
          name: 'geo.placename',
          content: 'Sunnyvale'
        },
        {
          name: 'geo.position',
          content: '37.394709;-122.005382'
        },
        {
          name: 'ICBM',
          content: '37.394709, -122.005382'
        }
      ],
      link: [
        {
          rel: 'manifest',
          href: '/manifest.json'
        },
        {
          rel: 'alternate',
          type: 'application/atom+xml',
          href: '/feed.atom'
        }
      ]
    }
  },
  data () {
    return {
      active: false,
      fonts: Object.fromEntries(fontTypes.map(f => [slugFont(f), true])),
      height: 'auto',
      maxWh: 0,
      givingReady: false
    }
  },
  computed: {
    routeKey () {
      return routeKey(this.$route)
    }
  },
  beforeMount () {
    this.watchDocument()
    this.watchFonts()
    this.watchScroll()
  },
  async mounted () {
    if (process.env.NODE_ENV === 'development') {
      const main = document.querySelector('.main')

      // Because Vue often loads the content after the page is loaded, we often
      // do not jump to the specified anchor on an initial page load.  This
      // ensures we go the anchor on an initial page load.
      const hash = this.$route.hash
      if (this.$route.hash) {
        const observer = new MutationObserver(() => {
          const elem = document.querySelector(hash)
          if (elem) {
            location.href = this.$route.hash
            observer.disconnect()
          }
        })
        observer.observe(main, {
          childList: true,
          subtree: true
        })
        delay(2000).then(() => observer.disconnect())
      }

      // Run a subset of our tests on the page.
      // Children components need a moment to load, and we don't have a reliable
      // hook to tell when they have, so we just delay.
      await delay(500)
      const observer = new MutationObserver(() => scans.run())
      observer.observe(main, {
        attributes: true,
        characterData: true,
        childList: true,
        subtree: true
      })
      scans.run()
    }

    this.loadGiving()
  },
  methods: {
    leave (el) {
      this.height = `${el.offsetHeight}px`
      this.active = true
    },
    async enter (el) {
      // Wait for the element to be populated and stabilize.
      for (let prev = 0;
        !prev || prev !== el.offsetHeight;
        prev = el.offsetHeight) {
        await delay(100)
      }
      // Set the height explicitly to trigger a smooth transition.
      this.height = `${el.offsetHeight}px`
    },
    afterEnter (el) {
      this.height = 'auto'
      this.active = false

      // This event is consumed in main.js by the scrollBehavior option.
      this.$router.app.$el.dispatchEvent(new Event('routeEnter'))
    },
    async loadGiving (id) {
      window.givingSettings = {
        flow_id: rebelGiveId
      }
      try {
        await this.$loadScript(`https://trigger.rebelgive.com/${rebelGiveId}`)
        this.givingReady = true
      } catch (e) {
        console.error('Could not load RebelGive script.')
        console.error(e.stack)
      }
    },
    watchDocument () {
      new ResizeObserver(es => {
        for (const e of es) {
          const w = e.target.offsetWidth
          e.target.style.setProperty('--dw', `${0.01 * w}px`)
        }
      }).observe(document.documentElement)
    },
    async watchFonts () {
      const root = getComputedStyle(document.documentElement)
      fontTypes.forEach(async type => {
        if (document.fonts) {
          const families = root.getPropertyValue(`--${type}-font-family`)
          const font = families.split(',')[0]
          await document.fonts.load(`1em ${font}`)
        }
        this.fonts[slugFont(type)] = false
      })
    },
    watchScroll () {
      const docStyle = document.documentElement.style
      const timer = new Timer()
      const onScroll = () => {
        timer.runFor(1000)
        docStyle.setProperty('--scroll-y', window.scrollY)
      }
      window.addEventListener('touchmove', onScroll)
      window.addEventListener('scroll', onScroll)

      const setHeight = () => {
        const wh = window.innerHeight
        docStyle.setProperty('--wh', `${0.01 * wh}px`)
        // We should only shrink the max window height if it was triggered by a
        // true resize, and not a scroll event.
        if (window.innerHeight > this.maxWh || !timer.running) {
          this.maxWh = wh
          docStyle.setProperty('--maxwh', `${wh}px`)
        }
      }
      window.addEventListener('resize', async () => {
        // Give the touchmove/scroll event a chance to fire.
        await delay(50)
        setHeight()
      })
      setHeight()
    }
  }
}
</script>

<style>
.router-active {
  overflow: hidden;
  transition: height var(--snappy-speed);
}

.page-enter-active,
.page-leave-active {
  transition: opacity var(--snappy-speed);
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
</style>
