\documentclass[10pt]{article}
\usepackage[a4paper,left=.5in,right=.5in,bottom=.7in,top=.7in]{geometry}
\usepackage{multicol}

\setlength{\columnsep}{.5in}
\setlength{\parindent}{0pt}
\pagestyle{empty}

\begin{document}

\begin{multicols}{2}
{{#each nodes}}
\begin{minipage}{\linewidth}
\textbf{%
{{lbcf.id}}
{{{question}}}%
}\\
\noindent%
\begin{tabular}{p{.05\linewidth} p{.9\linewidth}}
\textbf{a} & {{{options.a.text}}}\\
\textbf{b} & {{{options.b.text}}}\\
\textbf{c} & {{{options.c.text}}}\\
\textbf{d} & {{{options.d.text}}}\\
\end{tabular}
\end{minipage}

\vspace{.2in}
{{/each}}
\end{multicols}
\end{document}
