{{text}}
{{#if preacher}}
Sermon by {{preacher.title}}
{{/if}}

{{txtContent}}

{{#if series}}
This is part of a series on {{series.title}}
({{siteUrl}}{{series.path}})
{{/if}}

{{#unless hasAudio }}
Sorry, there is no audio recording available.
{{#if youtube}}
However, a video recording is available at YouTube.
(https://www.youtube.com/watch?v={{youtube}})
{{/if}}
{{/unless}}
