<template>
  <main :nospell="nospell">
    <div
      v-if="banner"
      class="main main-banner"
      :class="bannerstyle || ''"
    >
      <g-image
        :src="banner"
        alt="banner image"
      />
      <div class="headers scrimmed">
        <h1 class="no-link">
          <span
            v-if="subtitle && invertTitle"
            class="subtitle"
          >
            {{ subtitle }}
          </span>
          {{ title }}
          <span
            v-if="subtitle && !invertTitle"
            class="subtitle"
          >
            {{ subtitle }}
          </span>
        </h1>
      </div>
    </div>
    <div
      v-if="$slots.metadata"
      class="metadata"
    >
      <div class="main-narrow">
        <slot name="metadata" />
      </div>
    </div>
    <div
      ref="main"
      class="main-narrow main-body"
    >
      <h1 v-if="!banner">
        {{ title }}
      </h1>
      <slot />
    </div>
    <div
      ref="subheadings"
      style="display: none;"
    >
      <sub-heading
        v-for="(s, i) in subheadings"
        :id="s.id"
        :key="i"
        :depth="s.depth"
        :expandable="s.expandable"
        :expanded="s.expanded"
      >
        {{ s.text }}
      </sub-heading>
    </div>
  </main>
</template>

<script>
import delay from 'delay'

import SubHeading from '~/components/SubHeading'

const subheadingQuery = Array.from(Array(6))
  .map((x, i) => `h${i + 2}[id]`)
  .join(',')

export default {
  components: {
    SubHeading
  },
  props: {
    banner: {
      type: Object,
      default () {
        return null
      }
    },
    bannerstyle: {
      type: String,
      default () {
        return null
      }
    },
    invertTitle: {
      type: Boolean,
      default () {
        return false
      }
    },
    subtitle: {
      type: String,
      default () {
        return ''
      }
    },
    title: {
      type: String,
      default () {
        return ''
      }
    },
    nospell: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  data () {
    return {
      subheadings: []
    }
  },
  async mounted () {
    const v = this
    const q = subheadingQuery
    this.$refs.main.querySelectorAll(q).forEach(h => v.replaceSubheading(h))
    // Watch for h2 links and replace them.
    new MutationObserver((mutations) => {
      mutations.forEach(m => {
        m.addedNodes.forEach(n => {
          if (!n.querySelectorAll) return
          n.querySelectorAll(q).forEach(h => v.replaceSubheading(h))
          if (!n.hasAttribute('id') || !n.tagName.match(/^H[2-7]$/)) return
          v.replaceSubheading(n)
        })
      })
    }).observe(this.$refs.main, {
      attributes: true,
      childList: true,
      subtree: true
    })
  },
  methods: {
    async replaceSubheading (h) {
      const icons = Array.from(h.querySelectorAll('span.icon'))
      if (icons.some(s => s.innerHTML === 'link')) return
      this.subheadings.push({
        id: h.id,
        text: h.innerText,
        depth: parseInt(h.tagName[1]),
        expandable: h.hasAttribute('expandable'),
        expanded: h.hasAttribute('expanded')
      })
      await delay(0)
      const s = this.$refs.subheadings.querySelector(`[id="${h.id}"]`)
      h.parentElement.replaceChild(s, h)
    }
  },
  metaInfo () {
    let title = this.title
    if (this.invertTitle) {
      title = `${this.title} | ${this.subtitle}`
    } else if (this.subtitle) {
      title = `${this.title}: ${this.subtitle}`
    }
    const meta = []
    if (this.banner) {
      meta.push({
        name: 'og:image',
        content: this.banner.src
      })
    }
    return {
      title,
      meta
    }
  }
}
</script>

<style lang="scss" scoped>
.main-banner {
  position: relative;
  height: 56.25vw;  /* 16:9 */
  max-height: 50vh;

  h1 {
    margin: 1rem;

    .subtitle {
      margin: 1rem;
      display: block;
      font-size: var(--large-font-size);
      line-height: var(--short-line-height);
    }
  }
}

.main-banner img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: 50% 50%;
}

.main-banner .headers {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  max-width: calc(100% - 2rem);
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  line-height: 1;
  font-weight: 500;
}

.main-body {
  margin: var(--content-margin) 0;
}

.metadata {
  padding: var(--half-inline-margin) 0;
  font-size: var(--small-font-size);
  background-color: var(--secondary-color-light);

  p {
    margin: 0;
  }
}
</style>
