<template>
  <default
    :banner="$static.srcImage.image"
    :title="title"
    :subtitle="docname"
    invert-title
  >
    <standard-navigation
      :prev="prevId"
      :next="nextId"
      :all-text="allText"
    />

    <tree-view
      v-if="debug"
      :data="obj"
      :options="{rootObjectKey: 'obj'}"
    />

    <standard-view
      :docname="docname"
      :obj="obj"
      :link="$route.path"
    />

    <slot />

    <section>
      <sub-heading id="ask">
        Ask a question!
      </sub-heading>

      <p>
        Curious about the teachings on this page?<br>
        Want to understand how they are reflected in the life of the
        church?<br>
        Leave us a message; we'd love to chat with you!
      </p>

      <contact-form
        to="info"
        :subject="`Message from svrbc.org/${$route.path}`"
        persist-key="`/${root}`"
      />
    </section>
  </default>
</template>

<static-query>
query {
  srcImage(id: "banners/man-wall.jpg") {
    image
  }
}
</static-query>

<script>
import StandardView from '~/components/StandardView'
import ContactForm from '~/components/ContactForm'
import StandardNavigation from '~/components/StandardNavigation'
import SubHeading from '~/components/SubHeading'

export default {
  components: {
    StandardView,
    ContactForm,
    StandardNavigation,
    SubHeading
  },
  props: {
    curId: {
      type: [String, Number],
      default () {
        return null
      }
    },
    prevId: {
      type: [String, Number],
      default () {
        return null
      }
    },
    nextId: {
      type: [String, Number],
      default () {
        return null
      }
    },
    title: {
      type: String,
      default () {
        return ''
      }
    },
    docname: {
      type: String,
      default () {
        return ''
      }
    },
    allText: {
      type: String,
      default () {
        return 'all units'
      }
    },
    obj: {
      type: Object,
      default () {
        return null
      }
    }
  }
}
</script>

<style lang="scss" scoped>
h2,
::v-deep h2 {
  margin-top: var(--triple-inline-margin);
}
</style>
